@import "../../variables.scss";

.search {
  margin-bottom: $base-spacing * 10;

  input {
      height: 100%;
      width: 70%;
      vertical-align: top;
      margin-right: $base-spacing * 3;
      font-size: 15px;
      border: none;
      border-bottom: 1px solid $primary-color;
      color: $primary-color;
      background-color: transparent;
      margin-bottom: $base-spacing * 3;

    }

  p {
    font-size: 15px;
    text-align: justify;
  }
}