@import "../../variables.scss";

.filtersList {
    h2 {
        font-size: 20px;
        margin-bottom: $base-spacing*2;
    }
    @media only screen and (max-width: 1440px) {
        h2 {
            font-size: 18px;
        }
       }
       
       @media only screen and (max-width: 1024px) {
            h2 {
                font-size: 16px;
            }
        }
    

    .filterItems {
        font-size: 15px;
    }
}