@import "../../variables.scss";

.filters {
    margin-bottom: $base-spacing*2;

    input {
        margin-left: $base-spacing;
        margin-top: $base-spacing;
        background-color: black;
    }
}