@import "./variables.scss";

.container {
    display: flex;
    font-family: $font-family;
    

    .nav {
        width: 15vw;
        background-color: $primary-background-colour;
        height: auto;
    }

    .main {
        width: 85vw;
        height: auto;
        min-height: 100vh;
        margin-left: $base-spacing;
    }

}